<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
	<div class="panel panel-default grid-card">
		<div class="">
			<a ng-href="{{ card.imageLink }}" ng-click="card.onButtonClick()">
				<div class="image-holder" style="background-image: url('{{ card.image }}')"></div>
			</a>
			<div class="row">
				<div ng-class="{'col-xs-7': !!card.price, 'col-xs-12': !card.price, 'title-center': !card.price}">
					<h5 class="title">{{ card.title }}</h5>
				</div>
				<div ng-show="{{ card.price }}" class="price col-xs-5">
					<sm-price price="{{ card.price }}"></sm-price>
				</div>
			</div>
			<a ng-show="card.buttonText" class="button-bottom" ng-href="{{card.buttonLink}}" ng-click="card.onButtonClick()">{{ card.buttonText }}</a>
		</div>
	</div>
</div>
