.basket {
	padding: 10px;

	.basket-item {
		border-bottom: 1px solid #DDD;
		padding: 8px;

		&.last {
			border-bottom-style: none;
		}

		.icon {
			img {
				height: 32px;
				max-width: 32px;
			}
		}

		.title {
			padding-left: 20px;
		}

		.quantity {
		}
	}

	.bottom-line {
		padding-top: 10px;
		border-top: 1px solid #222222;

		.total-sum {
			text-align: right;
			font-weight: bold;
			font-size: 1.5em;
		}
	}
}
