$animationSpeed: 0.35s;

.basket {
	padding: 10px;

	.basket-item {
		border-bottom: 1px solid #DDD;
		padding: 8px;

		&.last {
			border-bottom-style: none;
		}

		.icon {
			img {
				height: 32px;
				max-width: 32px;
			}
		}

		.title {
			padding-left: 20px;
		}

		.quantity {
		}

		&.ng-enter {
			-webkit-animation: fadeInLeft $animationSpeed;
			-moz-animation: fadeInLeft $animationSpeed;
			-o-animation: fadeInLeft $animationSpeed;
			animation: fadeInLeft $animationSpeed;
		}

		&.ng-leave {
			-webkit-animation: fadeOutRight $animationSpeed;
			-moz-animation: fadeOutRight $animationSpeed;
			-o-animation: fadeOutRight $animationSpeed;
			animation: fadeOutRight $animationSpeed;
		}

		&.product-added-add, &.product-added-remove {
			-webkit-animation: pulse $animationSpeed;
			-moz-animation: pulse $animationSpeed;
			-o-animation: pulse $animationSpeed;
			animation: pulse $animationSpeed;
		}

		&.product-removed-add, &.product-removed-remove {
			-webkit-animation: flash $animationSpeed;
			-moz-animation: flash $animationSpeed;
			-o-animation: flash $animationSpeed;
			animation: flash $animationSpeed;
		}
	}

	.bottom-line {
		padding-top: 10px;
		border-top: 1px solid #222222;

		.total-sum {
			text-align: right;
			font-weight: bold;
			font-size: 1.5em;
		}
	}
}
