<div class="basket">
	<h3>Shopping List</h3>
	<div class="row basket-item animated" ng-class="{'last': $last, 'product-added': entry.addedClassAlternator, 'product-removed': entry.removedClassAlternator, }" ng-repeat="entry in basket.products">
		{{entry.quantityChanged}}
		<div class="icon col-xs-1">
			<img height="32" ng-src="{{ entry.product.image }}" alt=""/>
		</div>
		<div class="title col-xs-5 col-sm-5 col-md-7">
			{{ entry.product.name }}
		</div>
		<div class="quantity col-xs-2 col-sm-2 col-md-1">
			{{ entry.quantity }}{{ entry.product.unit }}
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1">
			<a href="javascript://" ng-click="basket.removeProduct(entry.product)"><i class="glyphicon glyphicon-minus"></i></a>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1">
			<a href="javascript://" ng-click="basket.addProduct(entry.product)"><i class="glyphicon glyphicon-plus"></i></a>
		</div>
	</div>
	<div ng-show="basket.products.length > 0" class="row bottom-line">
		<div class="col-xs-6">
			<a class="btn">Save shopping list</a>
		</div>
		<div class="total-sum col-xs-6">
			<sm-price price="{{ basket.totalPrice }}"></sm-price>
			<a class="btn btn-success"><i class="glyphicon glyphicon-check"></i> Checkout</a>
		</div>
	</div>
</div>
